
    h1{
        color: rgb(87, 60, 44);
    }
    body{
        background-color:rgb(253, 225, 187);;
    }
    h3{
        color:rgb(109, 77, 58);
    }
    p{
        color: rgb(138, 95, 71);
        text-align: justify;
    }
    a:link{
        color: rgb(40, 42, 143);
        background-color: transparent;
        text-decoration: none;
    }
    a:visited {
        color: rgb(61, 95, 48);
        background-color: transparent;
        text-decoration: none;
    }
    a:hover {
        color: rgb(151, 13, 13);
        background-color: transparent;
        text-decoration: underline;
    }
    footer{
        color: rgb(112, 96, 66);
        text-align: center;
        text-decoration-line: underline;
    }